@import url('https://fonts.googleapis.com/cssfamily=Roboto');
body{
    font-family: 'Roboto',sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.img-prodct{

    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 4px;
}
h2{
    text-align: center
}
.img-prodct img{
    width: 100%;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control:disabled ,.form-control:read-only{
background-color: azure;
max-width: 100px;
}
table tr ,table tr td{
    vertical-align: middle;

}
.button-container{
    display: flex;
    align-items: center;
}
.button-container .form-control{
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}
#mytable .form-control{
    width: auto;
    display: inline-block;
}
.cart-qty-plus ,.cart-qty-moins{
    width: 40px;
    height: 40px;
    border-radius: 25rem;
    border: 1px solid #ced4da;
    background-color: beige;
}